<span class="sharetext">share</span>
<div class="ssk-group sskgroup" data-url="{{ .Permalink }}" data-text="{{ .Permalink }}" data-ssk-ready="true">
    <a href="" class="ssk ssk-icon ssk-facebook"></a>
    <a href="" class="ssk ssk-icon ssk-twitter" data-text="via @{{ .Site.Params.social.twitterHandle }}"></a>
    <a href="" class="ssk ssk-icon ssk-linkedin"></a>
    <a href="" class="ssk ssk-icon ssk-google-plus"></a>
    <a href="" class="ssk ssk-icon ssk-pinterest"></a>
</div>
<script type="text/javascript">
    SocialShareKit.init();
</script>
