// ==============================
// Share
// =============================

.share {
    display: block;
    text-align: right;
    .sharetext{
        font-size: 14px;
        color: #8a8a8a;
        display: block;
        text-align: right;
    }
    .sskgroup {
        text-align: right;
    }
}

