// ==============================
// Social
// =============================

.social {
  margin-top: $social-margin-top;
  text-align: center;
  font-size: 30px;

  @import "_footer/social-links";
}
